<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://wiki.ros.org/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        name="MiR200_UR5">

    <xacro:arg name="robot_name" default=''/>
    <xacro:arg name="tf_prefix" default=''/>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

    <!-- <xacro:property name="robot_name" value='$(arg robot_name)'/> -->

    <!--Include all needed urdf files-->
    <xacro:include filename="$(find mur205_description)/urdf/mir_200_v1.urdf.xacro"/>

    <!-- <xacro:include filename="$(find mur205_description)/urdf/ur5.urdf.xacro"/> -->
    <xacro:include filename="$(find mur205_description)/urdf/ur5_robot.urdf.xacro">
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </xacro:include>


    <xacro:mir_200 prefix="$(arg tf_prefix)"/>

    <!--The position of the model was measured usind laser scanner. See Florians master thesis-->
    <joint name="robot_to_ur5" type="fixed">
      <parent link="$(arg tf_prefix)base_link"/>
      <child link="$(arg tf_prefix)base_link_ur5"/>
      <origin xyz="0.244311 -0.140242 0.450477" rpy="0.0 0.0 0.0"/>
    </joint>

    <!--Link to Gazebo library-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <controlPeriod>0.001</controlPeriod>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
    <!-- Either use the part in the <gazebo> tags or the following -->
    <!-- <xacro:diff_controller_plugin_gazebo prefix=""
        left_wheel_joint="left_wheel_joint"
        right_wheel_joint="right_wheel_joint"
        wheel_separation="${2*mir_200_act_wheel_dy}"
        wheel_radius="${mir_200_act_wheel_radius}"/> -->
</robot>