<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true" /> <!--Should be set to true in gazebo_ros package empty_world.launch-->

    <!-- <arg name="world_name" default="$(find mur205_gazebo)/world/empty_world.world" doc="Specifies the map the robot will be spawned in"/> -->
    <arg name="world_name" default="$(find mir_gazebo)/maps/world/pp_test_5.world" doc="Specifies the map the robot will be spawned in"/>
    <arg name="map_file" default="$(find mir_gazebo)/maps/pp_test_5.yaml"/>
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
    <arg name="gazebo_gui" default="true" doc="Starts gazebo gui" />

    <!-- Startup Gazebo with simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
    </include>

    <include file="$(find mur205_navigation)/launch/start_maps.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>
</launch>